<form method="post" action="{{ path('tipo_correo_delete', {'idTipoCorreo': tipo_correo.idTipoCorreo}) }}" onsubmit="return confirm('¿Realmente desea eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_correo.idTipoCorreo) }}">
    <button class="btn btn-danger">
        <span>
            <i class="far fa-trash-alt"></i>
        </span>
        <span>
            Eliminar
        </span>
    </button>
</form>
