{% extends 'base.html.twig' %}

{% block title %}Editar Estatus del Alumno{% endblock %}

{% block page_title %}
    Editar Estatus del Alumno
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    <div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="panel-content">
                        {{ include('estatus_alumno/_form.html.twig', {'button_label': 'Update'}) }}
                        <br/>
                        {{ include('estatus_alumno/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_page %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#catalogos').addClass('active treeview menu-open');
            $('#estatusAlumno').addClass('active');
        });
    </script>
{% endblock %}