{% extends 'base.html.twig' %}

{% block title %}Editar Menú{% endblock %}

{% block page_title %}
    Editar Menú
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    <div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="panel-content">
    					{{ include('menu/_form.html.twig', {'button_label': 'Actualizar'}) }}
                        <br/>
                        {{ include('menu/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_page %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#catalogos').addClass('active treeview menu-open');
            $('#menuRender').addClass('active');
        });
    </script>
{% endblock %}