<form method="post" action="{{ path('documento_delete', {'idCodumento': documento.idCodumento}) }}" onsubmit="return confirm('¿Realmente desea eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ documento.idCodumento) }}">
    <button class="btn btn-danger">
        <span>
            <i class="far fa-trash-alt"></i>
        </span>
        <span>
            Eliminar
        </span>
    </button>
</form>
